# Fully pinned Python 3.12 environment. Install only inside project-local .venv:
#   python -m venv .venv
#   .venv/Scripts/python -m pip install -r requirements-lock.txt
certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
contourpy==1.4.0
cycler==0.12.1
fonttools==4.65.0
h5py==3.16.0
idna==3.20
iniconfig==2.3.0
jplephem==2.24
kiwisolver==1.5.1
mapbox-earcut==1.0.3
matplotlib==3.10.6
numpy==2.2.6
packaging==26.3
pandas==2.3.2
pillow==12.3.0
pluggy==1.6.0
pvlib==0.13.1
Pygments==2.21.0
pyparsing==3.3.3
pytest==8.4.2
python-dateutil==2.9.0.post0
pytz==2026.3.post1
requests==2.34.2
scipy==1.18.1
sgp4==2.27
shapely==2.1.1
six==1.17.0
skyfield==1.53
trimesh==4.8.1
tzdata==2026.4
urllib3==2.8.0
